.product-card{
	border: 12px, solid, chocolate; 
	width: 350px;
}

.product-photo-wrapper{
	height: 320px;
	width: 320px;
	position: relative;
}

.product-photo-wrapper img{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.product-body{
	padding: 1.2rem;
	color: brown;
}

.product-body h2{
	font-size: 1.6rem;
}

.product-price{
	font-size: 1.05rem;
	font-weight: 700;
}

.product-desc{
	font-size: .90rem;
}